# Solutions and personnal infos 
Solutions/*
Solutions
mails.tex

# Texmaker
*.bak
*.synctex.gz

# gitignore for lateX project
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
